*.jpg
*.png
*.dist/
*.egg-info/
*.pyc
*.pyd
*.pyo
*.log
*.swp
*.egg
target/
.ipynb_checkpoints/
__pycache__/
.idea/
source/assignment003-video-testing/video1.mp4
source/assignment003-video-testing/target
source/assignment003-video-testing/target2/
source/build/
source/dist/
source/src/
source/tests/
source/LICENSE
source/pyproject.toml
source/README.md
source/setup.cfg
topgis-viz/data/
topgis-viz/target/
topgis-viz.2/data/
topgis-viz.2/output_directory/
/source/assignment003-video-testing/data/
/source/assignment003-video-testing/target3/
/source/assignment003-video-testing/target4/
/road marking identification/
/ciirc-utils/build/
/ciirc-utils/dist
/ciirc-utils/ciirc_utils/images/
/notebooks/data/
/notebooks/images/
/notebooks/images_other_filters/
/topgis-viz/topgisviz/1.jpg
/topgis-viz/topgisviz/1.mp4
/topgis-viz/topgisviz/2.jpg
/topgis-viz/topgisviz/4.jpg
/topgis-viz/topgisviz/5.jpg
/topgis-viz/topgisviz/6.jpg
/topgis-viz/topgisviz/kr_00002.jpg
/topgis-viz/topgisviz/laplace_image_new.jpg
/topgis-viz/topgisviz/saved_image.jpg
/topgis-viz/topgisviz/threshold_image_new.jpg
/topgis-viz/topgisviz/sobel_image_new.jpg
/topgis-viz/topgisviz/utm_00000.jpg
/topgis-viz/topgisviz/utm_00000.mask.png
/topgis-viz/topgisviz/xdog_image_new.jpg
/topgis-viz/topgisviz/kr_00000.jpg
/topgis-viz/topgisviz/kr_00001.jpg
/topgis-viz/topgisviz/images/
/topgis-viz/topgisviz/camera/
/ciirc-utils.zip
/topgis-viz/topgisviz/api_web_test.py
/Tutorials/1.jpg
/satelite-viz/sateliteviz_for_package/erode_image_new.jpg
/satelite-viz/sateliteviz_for_package/gaussian_blur_image_new.jpg
/satelite-viz/sateliteviz_for_package/grasycaled_image_new.jpg
/satelite-viz/sateliteviz_for_package/textures/hatch.jpg
/Tutorials/image.png
/satelite-viz.2/test/kr_00000.jpg
/satelite-viz.2/test2/kr_00000.jpg
/satelite-viz.2/test2/kr_00000_cropped_300x300_for_comparison.jpg
/satelite-viz.2/test2/kr_00000_cropped_300x300_without_COLOR_BGR2GRAY.jpg
/satelite-viz.2/test2/kr_00000_cropped_original.jpg
/satelite-viz.2/test2/kr_00000_not_cropped_original.jpg
/satelite-viz/my.png
/notebooks/image_output/resized_images.jpg
/source/assignment001-complex-testing/Result.FromTesting.ComplexPythonFunctionsVsComplexPythonLibraries
/source/assignment003-video-testing/dist/videotest-0.0.8.tar.gz
/source/assignment003-video-testing/dist/videotest-0.0.8-py3-none-any.whl
